body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    
        font-family: "Fira Sans", sans-serif;
        font-weight: 400;
        font-style: italic;
      

}

.card{
    background: #dae0e0 ;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    margin: 1em;
}